<div class="d-flex justify-content-center m-5">
  <form [formGroup]="theatreForm" autocomplete="off" class="col-md-8">

    <div class="form-group required">
      <label>TheatreName</label>
      <input class="form-control" formControlName="name">
      <label class="text-danger" *ngIf="theatreForm.get('name').touched && theatreForm.get('name').errors">
        This field is mandatory.
      </label>
    </div>

    <div class="form-group">
      <label>Address</label>
      <input class="form-control" formControlName="address">
    </div>

    <div class="form-group">
      <label>City</label>
      <input class="form-control" formControlName="city">
      <label class="text-danger" *ngIf="theatreForm.get('city').touched && theatreForm.get('city').errors">
        This field is mandatory.
      </label>
    </div>

    <div class="form-group">
      <label>NoOfSlots</label>
      <input class="form-control" type="number" formControlName="noOfSlots">
      <label class="text-danger" *ngIf="theatreForm.get('noOfSlots').touched && theatreForm.get('noOfSlots').errors">
        This field is mandatory.
      </label>
    </div>

    <div class="form-group">
      <label>NoOfSeats</label>
      <input class="form-control" type="number" formControlName="noOfSeats">
      <label class="text-danger" *ngIf="theatreForm.get('noOfSeats').touched && theatreForm.get('noOfSeats').errors">
        This field is mandatory.
      </label>
    </div>

    <div class="form-group">
      <label>TicketCost</label>
      <input class="form-control" type="number" formControlName="ticketCost">
      <label class="text-danger" *ngIf="theatreForm.get('ticketCost').touched && theatreForm.get('ticketCost').errors">
        This field is mandatory.
      </label>
    </div>

    <div class="form-group col-md-8 offset-md-2">
      <button (click)="onSubmit()" class="btn btn-lg btn-block btn-primary" [disabled]="!theatreForm.valid">Add Theatre</button>
    </div>

  </form>
</div>
