<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white" [routerLink]="['/home']">Book my show</a>
  <div *ngIf="checkRole(); then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <a class="nav-link text-white" [routerLink]="['addMovie']">Add Movie</a>
    <a class="nav-link text-white" [routerLink]="['addTheatre']">Add Theatre</a>
    <a class="nav-link text-white" [routerLink]="['addShow']">Add Show</a>
  </ng-template>
  <ng-template #elseBlock>
    <a class="nav-link text-white" [routerLink]="['showcities']">Book Tickets</a>
  </ng-template>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<router-outlet></router-outlet>
